@tailwind base;
@tailwind components;
@tailwind utilities;
/* 3D Button Effect */
a.bg-white {
    transition: transform 0.3s ease;
  }
  
  a.bg-white:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  }
  